
@tailwind base;
@tailwind components;
@tailwind utilities;



.bgi{
    background-image: url("./images/imgbg.webp");
}
html{
    scroll-behavior: smooth;
}



.bgk{
    background-image: url("./images/intrbg.webp");
}

